
@{
    ViewBag.Title = "ReSetPassword";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
        </div>
        <div class="panel-body">
            <div class="row p-bottom">
                <div class="col-md-1">
                    <span class="title">旧密码：</span>
                </div>
                <div class="col-md-5">
                    <input type="password" class="form-control" id="password_old" placeholder="输入旧密码" />
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row p-bottom">
                <div class="col-md-1">
                    <span class="title">确认密码：</span>
                </div>
                <div class="col-md-5">
                    <input type="password" class="form-control" id="password_old_confirm" placeholder="输入旧密码" />
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row p-bottom">
                <div class="col-md-1">
                    <span class="title">新密码：</span>
                </div>
                <div class="col-md-5">
                    <input type="password" class="form-control" id="password_new" placeholder="输入新密码" />
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row p-bottom text-right">
                <div class="col-md-6">
                    <button id="submit" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        jQuery.prototype.showMessage = function (type, message) {
            var c1 = '', c2 = '';
            if (!message) message = '';
            var error_str = '<div class="alert-normal {0}" role="alert"><i class="fa {1}"></i> {2}</div>'
            switch (type) {
                case 'info':
                    c1 = 'alert-info';
                    c2 = 'fa-info-circle';
                    break;
                case 'success':
                    c1 = 'alert-success';
                    c2 = 'fa-check-circle';
                    break;
                case 'warning':
                    c1 = 'alert-warning';
                    c2 = 'fa-warning';
                    break;
                case 'error':
                    c1 = 'alert-danger';
                    c2 = 'fa-times-circle';
                    break;
            }
            error_str = error_str.replace('{0}', c1);
            error_str = error_str.replace('{1}', c2);
            error_str = error_str.replace('{2}', message);
            this.append(error_str);
        }

        jQuery.prototype.cleanMessage = function () {
            this.remove('div .alert-normal');
        }

        function cleanMessage() {
            $('div alert-normal').remove();
        }

        $("#submit").click(function () {
            var num_error = 0;
            var password = $("#password_old").val();
            var password_confirm = $("#password_old_confirm").val();
            var password_new = $('#password_new').val();

            if (!password) {
                $("#password_old").parent().next().showMessage('error', '请输入旧密码');
                num_error++;
            }
            if (!password_confirm) {
                $("#password_old_confirm").parent().next().showMessage('error', '请输入确认旧密码');
                num_error++;
            }
            else if (password_confirm != password) {
                $("#password_old_confirm").parent().next().showMessage('error', '旧密码输入不一致');
                num_error++;
            }
            if (!password_new) {
                $("#password_new").parent().next().showMessage('error', '请输入新密码');
                num_error++;
            }

            if (num_error == 0) {
                $.ajax({
                    url: '',
                    method: 'post',
                    dataType: 'json',
                    data: { 'password_old': password, 'password_new': password_new },
                    success: function (result) {
                        if (result && result.isSuccess) {
                            alert('修改密码成功');
                            window.location.href = '/Admin/Lock';
                        }
                        else {
                            alert('修改密码失败');
                        }
                    },
                    error: function (error) {
                        alert('系统异常');
                    }
                });
            }
        });

        $(function () {
            $("#password_old,#password_old_confirm,#password_new").change(function () {
                $(this).parent().next().remove('div .alert-normal')
            })
        });
    </script>
}

