
@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@section styles{
    @*<link href="~/Content/bootstrap-table.css" rel="stylesheet" />*@
    <style>
        table tr td > img {
            width: 50px;
            height: 50px;
        }

        ul.pagination {
            margin-top: 0;
            margin-bottom: 0;
            display: block;
        }

        th > .sortable {
            cursor: pointer;
        }

        .form-inline .form-control {
            width: auto;
        }

        .search-bar {
            margin-bottom: 10px;
        }
    </style>

}
<div class="panel">
    <div class="panel-heading">
        <h2 class="">管理中心</h2>
    </div>
    <div class="panel-body">
        <div class="search-bar">
            <form class="form-inline">
                <div class="form-group form-group-sm">
                    <label for="">用户名</label>
                    <input type="text" class="form-control input-sm" id="" placeholder="Jane Doe">
                </div>
                <div class="form-group form-group-sm">
                    <label for="exampleInputEmail2">昵称</label>
                    <input type="email" class="form-control input-sm" id="" placeholder="jane.doe@example.com">
                </div>
                <div class="form-group form-group-sm">
                    <label for="exampleInputEmail2">角色</label>
                    <select class="form-control input-sm">
                        <option>用户</option>
                        <option>管理员</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label for="exampleInputEmail2">状态</label>
                    <select class="form-control input-sm">
                        <option>正常</option>
                        <option>冻结</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-sm">
                    <i class="lnr lnr-select"></i>
                    Search
                </button>
            </form>
        </div>
        <table class="table table-hover" id="table"></table>

    </div>

</div>

@section scripts{
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script>
        $('#table').bootstrapTable({
            //data: '/data.json',
            classes: 'table table-hover',
            columns: [
                {
                    "title": "头像",
                    "field": "headimage",
                    "align": "center",
                    "valign": "middle",
                    "width":20,
                    "formatter": function (value, row) {
                        return '<img class="img-circle" src="' + row.headimage + '">';
                    }
                },
                {
                    "title": "用户名",
                    "field": "username",
                    "align": "center",
                    "valign": "middle",
                    "width": 20,
                    "sortable": "true"
                },
                {
                    "title": "昵称",
                    "field": "nickname",
                    "align": "center",
                    "valign": "middle",
                    "width": 20,
                    "sortable": "true"
                },
                {
                    "title": "角色",
                    "field": "role",
                    "align": "center",
                    "valign": "middle",
                    "width": 10,
                    "sortable": "true"
                },
                {
                    "title": "状态",
                    "field": "state",
                    "align": "center",
                    "width": 10,
                    "valign": "middle"
                },
                {
                    "title": "操作",
                    "field": "option",
                    "align": "center",
                    "valign": "middle",
                    "width": 20,
                    "formatter": function (value, row) {
                        var ht = '<a href="#" title="修改">修改</a>';
                        ht += ' <a href="#" title="删除">删除</a>';
                        return ht;
                    }
                }
            ],
            url: '/data.json',
            method: 'get',
            queryParams: {},
            pagination: true,
            //sidePagination: 'server',
            totalRows: 100,
            pageNumber: 1,
            pageSize: 10,
            sortName: 'username',
            sortOrder: 'desc',
        });

    </script>
}

